.combos_main{
    max-width: 414px;
    width: 100%;
}

.combos_main-section-article {
    width: 100%;
    text-align: center;
    padding-top: 50px ;

}

.combos_main-section-article img{
    width:200px ;
    height: 240px;
}
.combos_armaTuEquipo{
    display: flex;
    flex-wrap: wrap;
    flex-direction:row-reverse;
    width: 80%;
}
.armaTuEquipo-titulo {
    display: grid;
    place-items: center;

}

.armaTuEquipo-titulo-h1 {
    width: 50%;
    text-align: center;
    font-size: 2em;
    color: var(--verdeOscuro);
    border: 3px dashed #3e6765;
    border-radius: 20px;
}
/*atras y siguiente */
.arma_tu_equipo_atras_sig{
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    text-transform: uppercase;


    
}
.arma_tu_equipo_atras_sig h1 a{
    text-decoration:none;
    color: var(--verdeOscuro);
}
.arma_tu_equipo_atras_sig-h1{
 font-size: 20px;
 margin: 0px;
 padding-left: 20px;
    padding-right: 20%;
}
.arma_tu_equipo_atras_sig-h2{
    font-size: 20px;
    padding: 0px;
}
   
@media(min-width:450px ) {
    .combos_main{
        max-width: 100%x;
        width: 100%;
    }
    .armaTuEquipo-titulo-h1 {
        width: 30%;}
    .combos_main-section-article {
        width: 100%;
        text-align: initial;
        padding-top: 50px ;
    
    }
    
    .combos_main-section-article img{
       width:100px;
       height: 40px;
       margin: 20px;
      
    }
    .combos_armaTuEquipo{
   padding-top: 50px;
        width: 80%;
    }
    .combos_menu_destacados-imagenes-div{
        width: 100%;
        display: flex;
    }
    .combos_menu_destacados-imagenes-div article{
     
        flex-wrap: wrap;
        flex-direction:row-reverse;
        width: 23%;
        position: relative;
        right: -180px;
        bottom: 270px;
    }
    .combos_main-section-img-letra{
        padding-left: 20px;
    }

    .combos_menu_destacados-imagenes-div a{
        left: 15px;
    }

}
/*letra atras y adelante*/

.arma_tu_equipo_atras_sig-h1{
    padding-left: 30%;
  

}



@media(min-width: 780px) {

    .combos_menu_destacados-imagenes-div article{
     
        flex-wrap: wrap;
        flex-direction:row-reverse;
        width: 50%;
        position: relative;
        left: 250px;
        bottom: 270px;
    }
    .combos_main-section-article img{
        width:200px;
        height: 170px;
        margin: 20px;
       
     }
    .combos_main-section-img-letra{
        padding-left: 20px;
    }

    .combos_menu_destacados-imagenes-div a{
        left: 15px;
    }

    .arma_tu_equipo_atras_sig-h1{
        padding-left: 20%;
        padding-right: 65%;    
    }
    .armaTuEquipo-titulo-h1 {
        width: 25%;
        

    }
    .arma_tu_equipo_atras_sig h1{
        
        padding-left: 25%;
           padding-right: 18%;
       }
}