<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head',{ title : "mateartips" }) %>

    <body class="body-matetips">
        <%- include('../partials/header') %>
            <main class="matetips_main2" >
                <div >
                    <div class="row">
                       <div class="neons col-12">
                          <h1><em>Las claves para preparar un mate</em></h1>
                       </div>
                    </div>
                
                <h1 class="neons col-12">Las claves para preparar un mate</h1>
                <p class="matetips_main-p"> Ya sea por la mañana, por la tarde, solos, con amigos, en el trabajo o leyendo unos apuntes, el mate
                    está siempre presente.

                    Todos nos sentimos acompañados con un buen mate, incluso en estos tiempos, en los que rara vez
                    podemos compartirlos y cada uno lleva el propio a una reunión.

                    Por eso, saber cebar un buen mate es algo por lo que uno se puede sentir bien orgulloso. Y para
                    todos aquellos que siempre quisieron aprender cómo hacer unos ricos mates, acá les traemos 5 claves
                    para cebar el mate perfecto.
                </p>


                <h4 class="matetips_main-h4">Tips para el mate perfecto:</h4>
                <ul class="matetips_main-ul">
                    <img class="img-matetips" src="/images/mates_tips/mate_1.png" >
                    <li class="matetips_main-li">1. Llenar un termo con agua caliente.</li>
                    <p class="matetips_main-p">Para que la temperatura de tu mate esté en su punto justo, asegurate de que no esté ni tibia ni hirviendo. Lo aconsejable es que esté entre 70 y 80º C. Los gerontes te dirán que pruebes con fuego de hornalla y pava; los más modernos que uses la eléctrica.</li>
            
                    </p>
                    <img class="img-matetips"  src="/images/mates_tips/mate_2.png" >
                    <li class="matetips_main-li">2. Arrojar yerba en el mate y agitar.</li>
                    <p class="matetips_main-p">La consigna es nuevamente estricta y requiere que el mate no zozobre de yerba ni tampoco que fafalte. A ojo (nada de medidores) llená hasta las tres cuartas partes del recipiente. Acto seguido, tapá con una mano la boca del mate, invertila y luego agitala un par de veces para quitarle el polvo. No te olvides después de soplar la palma de tu mano para no manchar lo primero que agarres.
                    </p>
                    <img class="img-matetips" src="/images/mates_tips/mate_3.png" >

                    <li class="matetips_main-li">3. Recostar, formar un hueco y derramar agua tibia.</li>
                    <P class="matetips_main-p">Ahora recostá la yerba sobre una de las paredes del mate para así formar un hueco en la pared opuesta y, luego, colocá agua tibia suavemente. Es fundamental que no hierva para no quemar la yerba y, por ende, perder su gusto. Dejá reposar unos segundos.
                    </P>
                    <img class="img-matetips" src="/images/mates_tips/mate_4.png" >

                    <li class="matetips_main-li">4. Introducir la bombilla.</li>

                    <p class="matetips_main-p">Si esto te sale bien, ya estás en condiciones de autoproclamarte porteño. Una recomendación práctica: tapá con un dedo el orificio superior de la bombilla y colocala en el hueco que antes generaste. El gran riesgo de este paso (y por lo que desaprobaríamos el examen) es que el mate quede tapado.</p>
                   
                    <img class="img-matetips" src="/images/mates_tips/mate_5.png" >

                    <li class="matetips_main-li">5. Cebar.</li>
                    <P class="matetips_main-p">Ahora sí con la temperatura ideal antes mencionada, empezamos a cebar el mate. Se debe colocar poco agua por turno y siempre en el mismo lugar (al lado de la bombilla es la mejor alternativa). Importante: el cebador siempre es el mismo. Si alguien osa a tomar el termo y cebarse a sí mismo… merece la expulsión de la ronda.
                    </P>
                    <img class="img-matetips" src="/images/mates_tips/mate_6.png" >

                    <li class="matetips_main-li">6. Compartir un momento.</li>
                    <P class="matetips_main-p">Comienza la ronda y es imprescindible respetar los turnos. Nada de saltear ni devolver favores ajenos al mate. Unos bizcochitos de grasa en el centro de la ronda y, como diríamos por estos pagos, ¡sos vos! Mucho cariño y poco enrosque, cero angustia y todavía más celebrar ese preciso y exacto momento en el que compartimos unos buenos mates.
                    </P>
                
                </ul>


            </main>
            <%- include('../partials/footer') %>
    </body>

</html>