<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
        title : "Preguntas_Frecuentes"
    }) %>
    <link rel="stylesheet" href="/stylesheets/preguntasFrecuentes.css">
<body >
    <%- include('../partials/header') %>
    <main >
      <section >
      <h1 class="preguntasFrecuentes-h1">Preguntas Frecuntes</h1>
       <p class="preguntasFrecuentes-p">En esta sección vamos a tratar de despejar todas tus dudas o inquietudes. En caso de no poder resolverla, escribinos por whatsapp y te ayudamos.</p>
      </section>
    <section>
        <ul><li class="preguntasFrecuentes-li">¿CÓMO ENCARGO UN MATE PERSONALIZADO?</li>
        <p class="preguntasFrecuentes-p">Muy sencillo! En nuestra web, en la parte MATES PERSONALIZADOS encontrarás los pasos a seguir de forma detallada para poder hacerlo realidad. A partir de tu idea, un diseñador crea tu mate con todas tus especificaciones y te envía un boceto digital. Luego de tu confirmación, lo fabricamos. Estamos a disposición ¡No dudes en consultarnos!</p>
            <li class="preguntasFrecuentes-li">¿TODOS LOS MATES SON IGUALES?</li>
            <p>No! No existen dos mates iguales. Todos son distintos y tienen sus propias características. La calabaza es un fruto natural con tamaño y forma única e irrepetible, es por eso que no vas a encontrar uno igual a otro. Podés elegir el tamaño del mismo (chico, mediano o grande) aclarandolo al finalizar la compra por la página web.

                En cambio, los mates de algarrobo, si bien son más estandarizados y similares, no son exactamente iguales uno respecto a otro. Son de un tamaño medio, muy comodo para el agarre como para cebar.
                
                Nuestro trabajo es 100% artesanal: maestros artesanos dan vida a los mates con sus propias manos, creando detalles que lo harán irrepetible, no somos máquinas. Su combinación única de estilo, material y mano de obra garantizarán una obra personalizada sin automatizaciones, buscando originalidad en cada pieza.</p>
        <li class="preguntasFrecuentes-li">¿CUÁLES SON LAS FORMAS DE PAGO?</li>
        <p class="preguntasFrecuentes-p">Aceptamos todas las tarjetas de débito o crédito a través de Mercado pago. Podes realizar el pago con tarjeta de crédito en hasta 3 cuotas sin interés. También podes abonar mediante transferencia bancaria obteniendo un 5% de descuento o en 15% en efectivo.</p>
        <li class="preguntasFrecuentes-li">¿HACEN ENVIOS?</li>
        <p class="preguntasFrecuentes-p">Si, a todo Argentina a través de Andreani, ¡Podés elegir a domicilio o a sucursal!

            También enviamos a todo el mundo por DHL, estés donde estés.</p>
        <li class="preguntasFrecuentes-li">¿TIENE GARANTÍA ANDO MATEANDO?</li>
    <p class="preguntasFrecuentes-p">Si, otorgamos un mes de garantía por fallas de nuestro taller que impidan su uso. En caso de que suceda, verificaremos el problema y trataremos de resolverlo lo antes posible. No se aceptarán reclamos de mates curados. El trabajo en nuestros mates es 100% artesanal, en el que se trata de lograr la perfección, siempre teniendo en cuenta que es realizado a mano y no por ninguna máquina. Si esta situación ocurre, te invitamos a comunicarte a nuestro whatsapp adjuntando detalles del problema, lo verificaremos e intentaremos resolverlo lo antes posible. </p></ul>
    </section>
    </main> 
    <script src="/stylesheets/matetips2.css"></script>
    <%- include('../partials/footer') %>       
</body>
</html>