<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head',{
        title : "mateartips"
    }) %>
<body>
 
    <main>
        <h3>hola</h3>
                
            </main> 
          
</body>
</html>