<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head',{
        title : "carrito"
    }) %>
<body>
    <%- include('./partials/header') %>
    <main class="productcart__main">
        <section style="max-width: 1200px;">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col" colspan="2">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Subtotal</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="cart-box">
                 
              
                </tbody>
              </table>
           
        </section>
    </main>
    <%- include('./partials/footer') %>
    


</body>

</html>