
<section class="menu-3-armatuequipo">
      <div class="menu-3-box">
        <img src="/images/productos/icono-termo.jpeg" id="img-2" alt="Imagen no encontrada" class="img-menu2">
        <h1 class="letra-menu2-h1">Termo</h1>
       
      </div>

            <div class="menu-3-box">

        <img src="/images/productos/icono-mate.jpeg" id="img-1" alt="Imagen no encontrada" class="img-menu2">
        <h1 class="letra-menu2-h1">Mate</h1>
      </div>
  
     
            <div class="menu-3-box">

        <img src="/images/productos/icono-yerbero.jpeg" id="img-3" alt="Imagen no encontrada" class="img-menu2">
        <h1 class="letra-menu2-h1">Yerbero</h1>
      </div>
 
            <div class="menu-3-box">

        <img src="/images/productos/icono-bombilla.jpeg" id="img-4" alt="Imagen no encontrada" class="img-menu2">
        <h1 class="letra-menu2-h1">Bombilla</h1>
      </div>
     
            <div class="menu-3-box">

        <img src="/images/productos/icono-bolso.jpeg" id="img-5" alt="Imagen no encontrada" class="img-menu2">
        <h1 class="letra-menu2-h1">Bolso</h1>
      </div>
   
</section>